<% provide(:title, "Contact") %>

<% #remove this bit when the form and other pages are built #%>
<header>
	<h2 class="text-center">Josh Bryant<br /><small>Greater Memphis Area, TN, MS, AR</small></h2>
</header>
<section class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<p class="text-center">I am a web developer who dabbles in Rails.  I love being outside and crafting things with wood.  I am married to my best friend and I could not be happier.</p>
	</div>
</section>

<%= render "shared/mainnav" %>
<h1 class="text-center">Coming Soon!</h1>
