<footer class="footer">
	<div class="text-center">
		<ul>
			<li>&copy; Copyright <%= Date.today.year %> - Josh Bryant</li>
			<li><a href="https://www.twitter.com/kaytal1" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
			<li><a href="https://instagram.com/kaytal1" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
			<li><a href="http://www.southernfriedgeek.com" target="_blank">Southern Fried Geek</a></li>
	</div>
</footer>