<footer class="footer">
	<section class="container">
		<div class="col-sm-6">
			<ul>
				<li>Twitter</li>
				<li>Instagram</li>
				<li>Southern Fried Geek</li>
			</ul>
		</div>
		<div class="col-sm-6">
			&copy; Copyright <%= Date.today.year %>
		</div>
	</section>
</footer>