<header class="main-header">
	<div class="header-portrait">
		<div class="avatar">
			<%= link_to image_tag("avatar-425.jpg", class: 'img-responsive img-circle'), root_path %>
		</div>
	</div>
</header>