<h1 class="text-center">Projects</h1>

<div class="row">
	<% @projects.each do |project| %>
		<article class="col-sm-6 col-sm-offset-3 single-project">
			<h2 class="text-center">
				<%= link_to project.title, project_path(:id) %>
			</h2>
			<div class="single-project-desc">
				<%= project.description %>
			</div>
		</article>
	<% end %>
</div>
<div class="row">
	<%= will_paginate @projects %>
</div>