<h1 class="text-center">Projects</h1>

<div class="row">
	<% @projects.each do |project| %>
		<article class="col-sm-6 col-sm-offset-3 single-project">
			<header>
				<h1 class="text-center">
					<%= link_to project.title, project_path(project) %>
				</h1>
			</header>
			<%= image_tag project.logoimage.url(:thumb), class: 'img-responsive img-center' %>
			<div class="single-project-desc">
				<%= project.description %>
			</div>
		</article>
	<% end %>
</div>
<div class="row">
	<%= will_paginate @projects %>
</div>
