body{
	font-family: "Crimson Text", serif;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6, nav ul li {
	font-family: "Julius Sans One", sans-serif;
	text-transform: uppercase;
}

.main-header{
	background-image: url(http://lorempixel.com/1920/1080);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 250px;
}
nav{
	ul{
		text-align: center;
		li{
			list-style-type: none;
			display: inline-block;
			padding: 25px;
		}
	}
}